h3 {
  color: black;
  margin: 10px;
}

.orden {
  display: grid;
  grid-template-columns: 250px 1fr;
}
.orden__menu {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.form__new {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
.form__cliente {
  display: flex;
  margin: 30px;
  flex-direction: column;
}
.form__orden {
  display: flex;
  height: 100vh;
  border: 2px solid black;
  padding: 10px;
  border-radius: 5px;
  flex-direction: column;
}

.form__title {
  background-color: hsl(217, 54%, 11%);
}

.form__title > h3 {
  color: aliceblue;
}
